    <ul id="filters">
        <li class="filter-category dropdown closed">
            <div class="title">
                All Industries
            </div>

            <div class="dropdown-menu">
                <ul>
                    <li>All Industries</li>
                    <li>Advertising</li>
                    <li>Design</li>
                    <li>Fashion</li>
                    <li>Film</li>
                    <li>Marketing</li>
                    <li>Public Relations</li>
                    <li>Other</li>
                </ul>
            </div>
        </li>

        <li class="filter-job-title dropdown closed">
            <div class="title">
                All Job Roles
            </div>

            <div class="dropdown-menu">
                <ul>
                    <li>All Job Roles</li>
                </ul>
            </div>
        </li>

        <li class="filter-location dropdown closed">
            <div class="title">
                New York, NY
            </div>

            <div class="dropdown-menu">
                <ul>
                    <li>All Locations</li>
                    <li>New York, NY</li>
                </ul>
            </div>
        </li>
    </ul>